<section class="flex justify-center">
  <div class="py-4 max-w-5xl">
    <img src="assets/images/banneramazon.jpg">
  </div>
</section>
<section class="flex flex-col items-center bg-dark-red pb-8">
  <div class="py-4 max-w-5xl">
    <img src="assets/images/banneresquenta.jpg">
  </div>
  <div class="flex items-center max-w-3xl">
    <div class="count-down-box">
      <span class="count-down-text text-white font-bold text-sm">
        Ofertas expiram em:
      </span>
      <div id="flipdown" class="flipdown"></div>
    </div>
    <a href="#" class="bg-yellow-300 border border-transparent hover:border-white w-full text-black rounded-2xl text-uppercase px-12 py-2">
      Ver ofertas do dia
    </a>
  </div>
</section>