<section class="hidden flex justify-center">
  <div class="py-4 max-w-5xl">
    <img src="assets/images/banneramazon.jpg">
  </div>
</section>
<section class="flex flex-col items-center bg-dark-red pb-8">
  <div class="py-4 max-w-5xl">
    <img src="assets/images/banneresquenta.jpg">
  </div>
  <div class="flex w-full md:justify-between flex-wrap lg:flex-nowrap justify-center items-center md:items-end max-w-3xl">
    <div class="flex lg:flex-col items-center lg:items-start justify-between count-down-box mb-8 md:mb-0">
      <span class="count-down-text text-white font-bold text-sm w-28 lg:w-full self-center">
        Ofertas expiram em:
      </span>
      <div id="flipdown" class="flipdown lg:mt-2"></div>
    </div>
    <a target="_blank" href="https://blackfriday.com.br/esquenta" class="bg-yellow-300 grad font-medium uppercase border border-transparent hover:border-white w-62 text-black rounded-2xl text-uppercase px-12 py-2">
      Ver ofertas do dia
    </a>
  </div>
</section>