@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-banner {
  background-image: url("images/bgbanner.jpg");
  background-size: 100%;
}

.bg-banner-pages {
  background-image: url("images/banner-pages.jpg");
}

.tiny-text {
  font-size: 10px;
}

article {
  ul {
    @apply my-2;

    li {
      list-style: inside;
    }
  }

  h2 {
    @apply font-bold text-lg mb-2 mt-3;
  }

  h3 {
    @apply font-medium text-lg mb-1 mt-2;
  }

  br {
    @apply hidden;
  }
}

.flipdown {
  @apply w-auto h-auto;

  .rotor-group:first-child {
    @apply hidden; 

    .rotor-group-heading::before {
      content: "Dias";
    }
  }

  .rotor-group:nth-child(2) .rotor-group-heading::before {
    content: "Horas";
  }

  .rotor-group:nth-child(3) .rotor-group-heading::before {
    content: "Min";
  }

  .rotor-group:nth-child(4) .rotor-group-heading::before {
    content: "Seg";
  }
}

header {
  .flipdown {
    .rotor-group:first-child {
      @apply block; 
    }
    .rotor-group:nth-child(n+2):nth-child(-n+3):before,
    .rotor-group:nth-child(n+2):nth-child(-n+3):after {
      left: -15px;
    }
    .rotor-group:nth-child(4) {
      @apply hidden;
    }

    .flipdown .rotor-group:nth-child(3) {
      padding-right: 0px;
    }

    .rotor-group .rotor-group-heading::before {
      @apply tiny-text;
    }
  }
}

@media only screen and (max-width: 576px) {
  .flipdown {
    @apply w-auto h-auto;
  }

  .flipdown .rotor {
    font-size: 1.5rem;
    margin-right: 3px;
  }

  .flipdown .rotor,
  .flipdown .rotor-leaf,
  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    width: 16px;
  }

  .flipdown .rotor-group {
    padding-right: 20px;
  }

  .flipdown .rotor-group-heading:before {
    font-size: 0.8rem;
    height: 15px;
    line-height: 12px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before,
  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    left: 42px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
    bottom: 18px;
    height: 6px;
    width: 6px;
  }

  .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    bottom: 6px;
    height: 6px;
    width: 6px;
  }

  .flipdown .rotor-leaf-front,
  .flipdown .rotor-top {
    line-height: 27px;
  }

  .flipdown .rotor-leaf,
  .flipdown .rotor {
    height: 30px;
  }

  .flipdown .rotor-leaf-front,
  .flipdown .rotor-leaf-rear,
  .flipdown .rotor-top,
  .flipdown .rotor-bottom,
  .flipdown .rotor:after {
    height: 15px;
  }

  header {
    .flipdown .rotor-group:nth-child(3) {
      padding-right: 0px;
    }
    
    .flipdown {
      .rotor-group:nth-child(n+2):nth-child(-n+3):before,
      .rotor-group:nth-child(n+2):nth-child(-n+3):after {
        left: -13px;
      }
    }
  }
}

.grad {
  background-image: linear-gradient(#FFDF00, #F8A700);
}
