@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bg-banner {
  background-image: url("images/bgbanner.jpg");
  background-size: 100%;
}

.bg-banner-pages {
  background-image: url("images/banner-pages.jpg");
}

.tiny-text {
  font-size: 10px;
}

article {
  ul {
    @apply my-2;

    li {
      list-style: inside;
    }
  }

  h2 {
    @apply font-bold text-lg mb-2 mt-3;
  }

  h3 {
    @apply font-medium text-lg mb-1 mt-2;
  }

  br {
    @apply hidden;
  }
}

.flipdown {
  width: 400px;
  height: auto;

  .rotor-group:nth-child(1) .rotor-group-heading::before {
    content: "Dias";
  }

  .rotor-group:nth-child(2) .rotor-group-heading::before {
    content: "Horas";
  }

  .rotor-group:nth-child(3) .rotor-group-heading::before {
    content: "Min";
  }

  .rotor-group:nth-child(4) .rotor-group-heading::before {
    content: "Seg";
  }
}

header {
  .flipdown {
    .rotor-group .rotor-group-heading::before {
      @apply hidden;
    }
  }
}
